gymnasium
opencv-python
pygame
scikit-learn
numpy
ray[default]
seaborn
tensorboard
torch
torch_geometric
z3-solver
zstandard
tqdm
natsort
matplotlib
gitpython

pandas-stubs
scikit-learn-stubs
types-psutil

black
isort
autoflake
mypy

setuptools==81.0.0