gymnasium
opencv-python
pygame
scikit-learn
numpy
ray[default]
seaborn
tensorboard
torch
torch_geometric
z3-solver
zstandard
tqdm
natsort
matplotlib

pandas-stubs
scikit-learn-stubs

black
isort
autoflake
mypy